## B. Variables and Data Types

Python uses five standard data types:

### B.1. Numbers

In [18]:
a = 120
b = round(120.7878)

int

NOTE: variable_numeric is an **Integer** type, thus, it does not handle numbers with decimal places while pi is a **Float** type where values in the decimal place are handled.

### B.2. Strings

Strings may be declared with a single quote (') or double quote ("), some even use triple double quotes("""). One may use them interchangeable but some prefer to follow a specific format.

In [49]:
a = 120
aa = 120.7878
b = "Hello World"

c = f'{a} {b}'
d = '%d %s %d' % (a, b, aa)
f = '{text2} {text1}'.format(text1=a, text2=b)

In [50]:
print(f)

Hello World 120

###CLASSES

In [81]:
class Ticket:
    def __init__(self, number, price):
        self.number = number
        self.price = price

    def get_ticket(self) -> int:
        if 100 < self.number < 200:
            return 0
        return self.number
    
    def get_price(self) -> float:
        return self.price


ticket = Ticket(300, 100)
a = ticket.get_ticket()
b = ticket.get_price()
print(a)

300

### B.3. Lists

In [136]:
var_lists = [2,5,3,4,6,8,10]

In [137]:
var_lists[0] = "HELLO"
print(var_lists)

['HELLO', 5, 3, 4, 6, 8, 10]

[10, 8, 6, 5, 4, 3, 2]

You may obtain the number of elements in a list by calling the <b>len()</b> function

You can think of Lists as similar to ArrayLists where the index starts at 0 and you can obtain the contents of a list by using brackets that contain the index of the element.

In [1]:
# What is the code to print the string, target?

### B.4. Tuples

In [140]:
var_tuples = (1,2,3,4,5)



var_extend = var_tuples + (6,7,8,9,10)
print(var_extend)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [144]:
var_set = {1,2,1,3,3,4,5,6,7,8,9,10}

print(var_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Comparison Between List and Tuples

You may also append and remove items in the LIST. It shows that when you added a new list item, it would be added towards the end of list.

<b>HINT:</b> You can try to type <b><i>varList.</i></b> in one line as well as <b><i>varTuple.</i></b> and press <b>TAB</b> after the period (.) in order to view possible functions you can call from that variable. You may also try to press <b>CTRL + TAB</b>.

In [165]:
            #0   1   2   3   4   5   6   7   8   9
var_lists = [1,  2,  3,  4,  5,  6,  7,  8,  9,  10]
#            -10 -9  -8 -7  -6  -5  -4  -3  -2  -1
print(var_lists[0:5:2])

[1, 3, 5]

In [2]:
# Append the string "HELLO" to the varList using the TAB

In [3]:
# Append the string "GOODBYE" to the varTuple using the TAB

It may seem like there are no difference between Tuples and Lists other than Tuples use parenthesis while Lists use brackets, but actually there are minor differences. For one thing, Tuples are fixed structures, thus, it does not have the luxury of Lists to append or remove elements. Generally, Lists have a lot of other functions readily available as opposed to using Tuples.

However Tuples actually use less space in the memory as opposed to Lists, resulting in faster processing. One thing to take note of is that one would usually use Tuples when the size of the contents are static as opposed to Lists where one can use it to continuously modify the size and elements.

In [4]:
print(varList)
print(varList.__sizeof__())
print(varTuple)
print(varTuple.__sizeof__())

NameError: name 'varList' is not defined

### B.5. Dictionaries

In [172]:
var_dict = {'key1': 1, 'key2': 2, 'key3': 3}
var_dict['key1'] = 10


print(var_dict)

{'key1': 10, 'key2': 2, 'key3': 3}

You may also declare contents of dictionaries individually.

## C. Python Arithmetic

Python uses basic arithmetic functions which are normally present on most if not all programming languages.

### C.1. Addition

In [ ]:
a = 5 + 3
a

### C.2. Subtraction

In [ ]:
a = 5 - 3
a

### C.3. Multiplication

In [ ]:
a = 5 * 3
a

### C.4. Exponentiation

In [175]:
a = 5 ** 1/3
a

1.6666666666666667

### C.5. Division

In [ ]:
a = 5 / 3
a

### C.6. Modulus Division

In [176]:
a = 5 % 3
a

2

### C.7. Integer Division

In [177]:
a = 5 // 3
a

1

### C.8. Increment

In [179]:
a = 5
a += 1
a

6

### C.9. Decrement

In [180]:
a = 5
a -= 1
a

4

<b>NOTE:</b> Python does not support the increment/decrement syntax of <b>x++/x--</b> instead you may use the syntax of <b>x+=1/x-=1</b> which is similar to <b>x=x+1/x=x-1</b>

### C.10. String Concatenation

In [ ]:
a = 'Hello ' + 'World!'
a

Strings may also be appended with the use of the plus <b>(+)</b> symbol

In [ ]:
a="Hello"
b=" World!"
c=a+b
c

### C.11. Complex Expressions

In [ ]:
a = 3 + 5 - 6 * 2 / 4
a

 ### C.12. Comparison Operators

In [181]:
1 > 2

False

In [ ]:
1 < 2

In [ ]:
1 >= 1

In [ ]:
1 <= 4

In [ ]:
1 == 1

In [ ]:
'hi' == 'bye'

### C.13. Logical Operators

In [ ]:
(1 > 2) and (2 < 3)

In [ ]:
(1 > 2) or (2 < 3)

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

## Challenge! Write the following to code:

$$ g = \frac{1}{1+e^{-z}}  $$

1) z = 8, and e = 2.718 should be equal to 0.9996643717

2) z = 2, and e = 2.718 should be equal to 0.8807753039

<b><i>TRIVIA</i></b>: The value <b>e</b>, also called <b>Euler's Number</b>, is a mathematical constant representing an irrational number that is approximately <b>2.71828</b>. Irrational, meaning the constant <b>e</b> is a real number that is unending and is unable to accurately be represented as a fraction, similar to that of <b>pi</b>.

In [ ]:
# Type your Code Here for Requirement Number 1:

In [ ]:
# Type your Code Here for Requirement Number 2:

## D. Control Statements and Data Structures

## D.A. Conditional Statement

### D.A.1. Boolean Condition

In [ ]:
x = True
if x:
    print("var x is True")
else:
    print("var x is False")

In [ ]:
x = False
if x:
    print("var x is True")
else:
    print("var x is False")

### D.A.2. String Condition

In [ ]:
x = "Hello World!"

if x == 'Hello World!':
    print("var x is Hello World!")
else:
    print("var x is not Hello World!")

In [ ]:
x = "Hello Earth!"

if x == 'Hello World!':
    print("var x is Hello World!")
else:
    print("var x is not Hello World!")

### D.A.3. Numerical Condition

In [ ]:
x = '10'

if x == '10':
    print("var x is a String")
elif x == 10:
    print("var x is an Integer")
else:
    print("var x is none of the above")

In [ ]:
x = 10

if x == '10':
    print("var x is a String")
elif x == 10:
    print("var x is an Integer")
else:
    print("var x is none of the above")

In [ ]:
x = 5

if x == '10':
    print("var x is a String")
elif x == 10:
    print("var x is an Integer")
else:
    print("var x is none of the above")

### D.A.4. Multiple Conditions

In [ ]:
x = 10

if x > 5 and x < 15 and x == 10:
    print("var x is really 10!")
else:
    print("var x is not really 10")

In [ ]:
x = 15

if x > 5 and x < 15 and x == 10:
    print("var x is really 10!")
else:
    print("var x is not really 10")

In [ ]:
x = 10

if x == 10 or x == 20:
    print("var x can be 10 or 20")
else:
    print("var x is not 10 nor 20")

In [ ]:
x = 20

if x == 10 or x == 20:
    print("var x can be 10 or 20")
else:
    print("var x is not 10 nor 20")

In [ ]:
x = 12

if x == 10 or x == 20:
    print("var x can be 10 or 20")
else:
    print("var x is not 10 nor 20")

## D.B. Loops

### D.B.1. For Loops

In [185]:
lists = [1,2,3,4,5,6,7,8,9,10]

for _ in range(0, len(lists)) :
    print(lists[_])

1
2
3
4
5
6
7
8
9
10

<b>NOTE:</b> The command <b>range(0,5,2)</b> is equivalent to all numbers from 0 incremented by 2 until it reaches the number less than 5

In [186]:
[v for v in range(1, 100, 5)]

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

<b>NOTE:</b> range([start], [stop], [step])

### D.B.2. While Loops

In [192]:
var = 0
while var < 10:
    var += 1
    print(var)
    if var == 3:
        break

1
2
3

### D.B.3. Nested Loops

In [195]:
x = 0
while x < 5:
    print("OUTER LOOP",x)
    for y in range(0, x):
        print("INNER LOOP", y)
    x+=1

OUTER LOOP 0
OUTER LOOP 1
INNER LOOP 0
OUTER LOOP 2
INNER LOOP 0
INNER LOOP 1
OUTER LOOP 3
INNER LOOP 0
INNER LOOP 1
INNER LOOP 2
OUTER LOOP 4
INNER LOOP 0
INNER LOOP 1
INNER LOOP 2
INNER LOOP 3

Always take note that there should be a colon <b>(:)</b> on the line where one declares the loop or condition

## E. Data Slicing

<b>NOTE:</b> <i>  list( [start] : [end] )
START is Inclusive and END is Exclusive

In [207]:
def hi():
    try:
        a = int(input("Enter a number: "))
        print(a)
    except Exception as e:
        print(e)
        return 
    return

hi()

invalid literal for int() with base 10: 'fwgwgwe'

In [208]:
import datetime



dt = datetime.datetime(YEAR, MONTH, DAY)

dt.strptime("2019-01-01", "%Y-%m-%d")

NameError: name 'YEAR' is not defined

<b>NOTE:</b> list( [start] : end : [
step] )